* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #312525;
    color: #0e0101;
}

header {
    background: #0c0101fb;
    color: #09cf09e3;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #15191a;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    background: #e6e0e0;
    border-radius: 5px;
}

.project {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #272424;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
